<thead>
<tr>
  <td><strong>Name</strong></td>
  <td><strong>Default Rate</strong></td>
  <td><strong>SOW Rate</strong></td>
  <td><strong>Allocated Hours</strong></td>
  <td><strong>Allocated Cost</strong></td>
  <td><strong>Actual Hours</strong></td>
  <td><strong>Billable Amount</strong></td>
  <td><strong>Billable Hours</strong></td>
  <td><strong>Actual Billable</strong></td>
</tr>
</thead>