<div id="fixed_header" class="tables_container hide">
  <div class='fixed_table_container' style="width: 25%;">
    <table id='allocations_fixed_table_clone' class="list fixed">
    <thead>
      <tr>
        <th width='20%'>Location</th>
        <th width='50%'>Resource</th>
        <th width='30%'>Role</th>
      </tr>
    </thead>
    </table>
  </div>
  <div class='movable_table_container' style="width: 74%; overflow: hidden;">
    <div id='weeks_header_holder'>
    </div>
  </div>
</div>
