<%= resource_forecast_summary(@resources, @projects, @skill_set, params[:acctg], total_res_available) %>
<script type="text/javascript">
  jQuery(".movable_table_container").scrollable({circular: false, mousewheel: true});
</script>
