div.tables_container { width: 100%; padding: 0; margin: 0; display: inline-block; }
div.scroll-pane {overflow: auto; display:  inline-block; width:98%;}
div#fixed_header { position: fixed; top: 0px; width: 98.5%; z-index: 9999; }
div.hide { display: none; }
div.fixed_table_container { float: left; white-space: nowrap; border-right: 1px solid black;}
div.movable_table_container { float: left; position: relative; overflow-x: auto; }
div#floating_tables_holder, div#weeks_header_holder { position: relative; }
div.floating_table { float: left; display: inline-block; table-layout: fixed; width: 85px; }
table {font-size: 12px; }
table.fixed { table-layout: fixed; }
table.list tr th { height: 40px; white-space: normal; }
table#allocations_fixed_table tr td { text-overflow: clip; overflow: hidden; white-space: nowrap; text-align: center;}
table#allocations_fixed_table_clone tr td { text-overflow: clip; overflow: hidden; white-space: nowrap; text-align: center; }
table#allocation_week tr td, table#allocation_week tr th { text-align: center; text-overflow: ellipsis; overflow: hidden; }

#programme_dashboard div.singleCol-wide .auto_scroll_y {height: 450px; }
div.singleCol { float: left; width: 32%; margin: 3px 6px; }
div.singleCol-wide {float: left; width: 65%; height: 530px; margin: 3px 6px; }
div.singleCol-wide .box {height: 100%;min-height: 60px;}
div.singleCol-wide div.singleCol {float: left; width: 49%; margin: 0; padding: 0 }
div.box { padding: 3px 5px; margin-bottom: 10px; background-color: #F6F6F6; color: #505050; line-height: 1.5em; border: 1px solid #E4E4E4; }
div.box2 { padding: 2px; margin-bottom: 10px; background-color: transparent; color: #505050; line-height: 1.5em; width: 49%; height: 100%; display: inline-block;}


.ui-state-default { border: 1px solid #CCC; background-color: #F6F6F6; font-weight: bold; color: #1C94C4; outline: none;}

.scroll-bar-wrap-horizontal { clear: left; padding: 0 4px 0 2px; margin: 0 -1px -1px -1px; display: inline-block}
.ui-slider-horizontal { background: none; border:0; height: 10px; margin: 0 auto; border-radius: 5px; -webkit-border-radius: 5px; -mox-border-radius: 5px;}
#slider-horizontal { clear: left; padding:0; margin: 17px 0; position: relative;  background-color: #DAD3C8; display: inline-block}
#slider-horizontal .ui-handle-helper-parent { position: relative; width: 100%; height: 100%; margin: 0 auto; }
#slider-horizontal .ui-slider-handle { height: 8px; position: relative; display: inline-block; background-color: #F3EFE9; border-radius: 5px; -webkit-border-radius: 5px; -mox-border-radius: 5px; border: 1px solid #BDBDBD}
#slider-horizontal .ui-slider-handle .ui-icon { margin: -8px auto 0; position: relative; top: 50%; }

.scroll-bar-wrap-vertical { padding: 0; margin: 0; display: inline-block; position: absolute; }
.ui-slider-vertical { background: none; border:0; width: 10px; margin: 0; border-radius: 5px; -webkit-border-radius: 5px; -mox-border-radius: 5px;}
#slider-vertical { padding:0; margin: 0; position: relative;  background-color: #DAD3C8; display: inline-block}
#slider-vertical .ui-handle-helper-parent { position: relative; width: 100%; height: 100%; margin: 0 auto; }
#slider-vertical .ui-slider-handle { width: 8px; position: relative; display: inline-block; background-color: #F3EFE9; border-radius: 5px; -webkit-border-radius: 5px; -mox-border-radius: 5px; border: 1px solid #BDBDBD}
#slider-vertical .ui-slider-handle .ui-icon { margin: -8px auto 0; position: relative; top: 50%; }

/**************************************
            General Classes
***************************************/

table.list tbody tr.highlight { background-color: #ffffb0; color: #000; }
tr.lgreen, td.lgreen, th.lgreen { background-color: #9FC35B; color: #000; }
tr.lblue, td.lblue, th.lblue { background-color: #99CCFF; color: #000; }
tr.lred, td.lred, th.lred { background-color: #E57E7C; color: #000; }
tr.lgray, td.lgray, th.lgray, div.lgray { background-color: #9a9a9a; color: #FFF; }
tr.vlgray, td.vlgray, th.vlgray, div.vlgray { background-color: #d9d9d9; color: #000;}

tr.green, td.green, th.green, span.green {background-color: #9FC35B; border: 1px solid #97b846; }
tr.red, td.red, th.red, span.red {background-color: #dc594e; border: 1px solid #Db493f; }
tr.yellow, td.yellow, th.yellow, span.yellow {background-color: #f7d959; border: 1px solid #F4c91a; }
tr.gray, td.gray, th.gray, span.gray {background-color: #808080; border: 1px solid #FFF; }

tr.summary_total {height: 27px; ha:;}
tr.summary_total td { color: black; font-weight: bold; text-align: center; background-color: #eee; vertical-align: middle;}

.podd { background-color: #c4d2e4}
.peven {background-color: #e3e9f1}
.bigfont { font-weight: bold; font-size: 12pt; text-align: center; padding: 10%;}
.smallfont {font-size: 10px; }
.zero { padding: 0; margin: 0}
.linkish-icon {padding: 0 7px; cursor: pointer; margin: 0}
.btn_show_chart{width: 100%;background-color: #dfdfdf; border: 1px solid #cfcfcf; padding: 5px; color: #777; font-size: 1em; font-weight: bold;}
.btn_show_chart:hover{ color: #34c134;}
.center {align: center; text-align: center }
th.rotated {position: relative; text-align: left; font-size: 10px; left: -10px; background-color: transparent; -moz-transform: rotate(300deg); -webkit-transform: rotate(300deg); -o-transform: rotate(300deg); }
.circle { display: block; width: 12px; height: 12px; text-align: center; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; padding: 0; color: transparent; margin: auto; }
.not-applicable, .nocolor {color: black; }
.not-applicable:after {content: "NA" }
.nocolor:after {content: "?"}

td.left { text-align: left!important; }

/**************************************
            User Management
***************************************/

div.filter_group {padding: 7px 0 0 7px; margin: 2px; width: 100%; }
div.filter_group label {padding-right: 5px;}
div.filter_group input, div.filter_group select {margin-right: 15px;}


/**************************************
	          Charts
***************************************/

div.utilization_pie_chart_wrapper {width: 75%; margin: 10px auto;}
.jqplot-pie-series.jqplot-data-label {color: black; }

/**************************************
            Programme Dashboard
***************************************/

table#project_health_table { table-layout: fixed; width: 100%; color: #000;}
table#project_health_table tr:hover, tr:hover td.vlgray, tr:hover td.lgray{ background-color: #ffffdd; color: #000;}
table#project_health_table tr th { background-color: transparent; text-align: left; vertical-align: bottom}
table#project_health_table tr th a {color: #616161; font-weight: bold; }
table#project_health_table tr td a {color: #262626}
table#project_health_table tr td { vertical-align: middle; border: 1px solid white; }
.legsquare {display: inline-block; width: 10px; height: 10px; margin: 2px 5px -3px 15px; padding: 0; border: 1px soild white; }
.plegend {margin-top: 7px; padding: 0 5px; }
.plegend p { margin: 0; padding: 0;}

#programme_dashboard .chart_legend { text-align:center; font-size:8pt;}
#programme_dashboard .chart_legend .legend_wrapper { display:inline-block; margin:5px auto; padding:10px; }
#programme_dashboard .chart_legend .legend_square { 
  display:inline-block; height:10px; width:10px; margin:0 2px -2px 10px; border: 1px solid white;
}

#programme_dashboard .auto_scroll_y { height: 350px; width: 100%; overflow-y: auto; overflow-x: hidden; }
#programme_dashboard .auto_scroll_x { height: 350px; width: 100%; overflow-x: auto; overflow-y: hidden; }
#chartpseudotooltip { position: absolute; font-size: 8pt; background-color: #ffffff;
                      border: 1px solid #e6e6fa; display: none; }

/*******************************************
      Time Logging
********************************************/

#floating_tables_holder .time_logging thead th, #weeks_header_holder .time_logging thead th { 
  height: 30px; padding: 0px 20px; 
}
#floating_tables_holder .time_logging tr td { text-align: center; }
#utilization_pie_chart_wrapper {width: 50%; margin: 10px auto; }
