<% labelled_tabular_form_for :user, @user, :url => { :action => "edit_user", :tab => nil, :filters => params[:filters] } do |f| %>
<%= render :partial => 'resource_managements/users/form', :locals => { :f => f } %>
<%= submit_tag l(:button_save) %>
<% end %>
